<div class="container">
    <div class="item1"> 
      <mat-toolbar color="primary">
          <mat-toolbar-row style="display: flex; justify-content: space-between">
            <span style="letter-spacing: 1px">
                KEY MARKET STATS
                <br><br><br> 
                    <span mat-button style="letter-spacing: 1px; font-size: 10px">
                            ~ Data provided for free by <a style="color: white" href="https://iextrading.com/developer">IEX.</a> View <a style="color: white" href="https://iextrading.com/api-exhibit-a/">IEX's Terms of Use</a>. 
                    </span>
            </span>
            <button mat-button>LOGIN</button>
          </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="item3">
            <mat-tab-group>
                <mat-tab label="ALL COMPANIES">
                    <app-all-companies></app-all-companies>
                </mat-tab>
                <mat-tab label="SEARCH A COMPANY">
                    <app-search-companies></app-search-companies>
                </mat-tab>
            </mat-tab-group>
    </div>
  </div>
